{% extends 'website/base.html' %}

{% block content %}
<h1>Login form</h1>
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {{form.non_field_errors}}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}